#root,
body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Noah";
  src: local("Noah Regular"), local("Noah-Regular"),
    url("../../assets/fonts/Noahregular.woff2") format("woff2"),
    url("../../assets/fonts/Noahregular.woff") format("woff"),
    url("../../assets/fonts/Noahregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noah";
  src: local("Noah Bold"), local("Noah-Bold"),
    url("../../assets/fonts/Noahbold.woff2") format("woff2"),
    url("../../assets/fonts/Noahbold.woff") format("woff"),
    url("../../assets/fonts/Noahbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Styling for the inner container */
.inner-container {
  display: flex;
  align-items: center;
}

/* Styling for the logo container */
.logo-container {
  margin: 4px 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Styling for the logo image */
.logo-image {
  width: 40px;
  height: 40px;
  line-height: 38px;
  margin-inline-end: 6px;
}

.logo-image a {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling for the heading */
.heading {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-inline-end: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
