@font-face {
  font-family: "Noah";
  src: local("Noah Regular"), local("Noah-Regular"),
    url("./assets/fonts/Noahregular.woff2") format("woff2"),
    url("./assets/fonts/Noahregular.woff") format("woff"),
    url("./assets/fonts/Noahregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noah";
  src: local("Noah Bold"), local("Noah-Bold"),
    url("./assets/fonts/Noahbold.woff2") format("woff2"),
    url("./assets/fonts/Noahbold.woff") format("woff"),
    url("./assets/fonts/Noahbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

#root,
body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
